# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Typescript directories
.build

# Webpack directories
.webpack

# Warmup directories
_warmup

# VS Code directories
.vscode

# Python virtual environment
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.pyc

# Auto generated serverless.yml
/serverless.yml